body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 196, 113);
  padding: 8px 2px;
}

a{
  text-decoration-line : none;
  color: white;
}

.navbar_logo{
  font-size: 24px;
  color: white;
}

.navbar_logo i{
  color: rgb(32, 85, 99);
}


.navbar_menu{
  display: flex;
  padding: 0;
  justify-content: space-between;
  list-style: none;
}

.navbar_menu li{
  padding: 8px 12px;
}

.navbar_menu li:hover{
  background-color: rgb(51, 230, 155) ;
  border-radius: 4px;
}

.navbar_logo{
  margin: auto 30px;
}
.navbar_icons{
  list-style: none;
  color: white;
  display: flex;
  justify-content: space-around;
}

.navbar_icons li{
  padding: 8px 12px;
}

.navbar_Btn{
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: white;
}

@media screen and (max-width: 780px){
  .navbar{
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar_menu{
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .navbar_menu li{
    width: 100%;
    text-align: center; 
  }

  .navbar_icons{
    display: none;
    justify-content: center;
    width: 100%;
    padding-left: 0px;
  }

  .navbar_icons li{
    padding: 8px 12px;
  }

  .navbar_Btn{
    display: block;
  }

  .navbar_menu.active,
  .navbar_icons.active{
    display: flex;
  }
}